.paymentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  text-align: center;
}
.payment-button > button {
  background-color: tomato;
  padding: 10px 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
}
