.paymentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 65vh;
  margin: 2vmax;
}
.paymentContainer button {
  width: 40%;
  background-color: tomato;
  height: 10%;
  font-size: 2vmax;
  color: white;
}
