/* New Product Container */
.newProductContainer {
  width: 80%;
  padding: 20px 40px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid #e0e0e0;
}

.newProductContainer h1 {
  font-size: 2rem;
  color: #34495e;
  margin-bottom: 20px;
}

/* Form Styling */
form.newProductContainer {
  background-color: #f8f9fa;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
}

form.newProductContainer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

form.newProductContainer div svg {
  color: #2c3e50;
  margin-right: 10px;
  font-size: 1.5rem;
}

/* Input Fields */
form.newProductContainer input,
form.newProductContainer select {
  flex: 1;
  padding: 10px;
  border: 1px solid #dfe6e9;
  border-radius: 5px;
  font-size: 1rem;
  color: #2c3e50;
}

form.newProductContainer input:focus,
form.newProductContainer select:focus {
  outline: none;
  border-color: #0984e3;
}

/* Button */
#createProductBtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
#createProductBtn:hover {
  background-color: rgb(179, 66, 46);
}

/* Loader */
.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .newProductContainer {
    width: 100%;
    padding: 20px;
  }

  form.newProductContainer {
    width: 90%;
  }
  #createProductBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
